<header class="mt-8">
    <div class="container mx-auto px-4 flex justify-between items-center">
        <div class="font-bold text-xl">Logo Dedalus</div>
        <nav class="mx-0">
            <ul class="flex space-x-16">
                <li class="relative group pb-0">
                    <a href="#" class="text-myblue">Sobre <span class="group-hover:rotate-180 transform transition-transform duration-300">&#x2304;</span></a>
                    <ul class="absolute hidden group-hover:block bg-white shadow-lg rounded mt-0 py-2 pt-0 w-48">
                        <li><a href="#" class="block px-4 py-2 text-myblue hover:bg-gray-200">Nossa operação</a></li>
                        <li><a href="#" class="block px-4 py-2 text-myblue hover:bg-gray-200">Nossa missão</a></li>
                    </ul>
                </li>
                <li><a href="#" class="text-myblue border-b border-light-green">Dúvidas Frequentes</a></li>
                <li><a href="#" class="text-myblue border-b border-light-yellow">Trabalhe conosco</a></li>
                <li><a href="#" class="text-myblue border-b border-light-orange">Agendar consultoria gratuita</a></li>
                <li><a href="#" class="text-myblue border-b border-light-blue">Fale com a nossa IA</a></li>
            </ul>
        </nav>
        <div class="flex items-center">
            <img src="../../assets/icone_robo.png" alt="Icon" class="h-8">
        </div>
    </div>
</header>