<header class="bg-myblue">
    <div class="container mx-auto px-4 flex justify-between items-center">
        <div class="font-bold text-xl">Logo Dedalus</div>
        <nav>
            <ul class="flex space-x-6">
                <li><a href="#" class="text-myblue">Sobre</a></li>
                <li><a href="#" class="text-myblue">Dúvidas Frequentes</a></li>
                <li><a href="#" class="text-myblue">Trabalhe conosco</a></li>
                <li><a href="#" class="text-myblue">Agendar consultoria gratuita</a></li>
                <li><a href="#" class="text-myblue">Fale com a nossa IA</a></li>
            </ul>
        </nav>
        <div class="flex items-center">
            <img src="../../assets/icone_robo.png" alt="Icon" class="h-8">
        </div>
    </div>
</header>