<!-- container principal que define a largura total e centraliza o conteúdo-->
<div class="w-full flex justify-center items-center">
    <!--div para a barra amarela com a imagem de fundo.-->
    <div class="bg-cover w-full flex justify-center py-5" style="background-image: url('../../assets/faixaamarela.png');">

        <!--div que simula o corpo do telefone-->
        <div class="h-72 w-full sm:w-[600px]  bg-black rounded-[40px] overflow-hidden shadow-xl flex justify-center items-center -my-10">

            <!--placeholder para o futuro reprodutor de vídeo.-->
            <div class="w-[95%] h-[95%] bg-black rounded-[30px] text-white flex justify-center items-center text-lg"></div>

        </div>

    </div>

</div>