<div *ngIf="panelSequenceService.showFirstPanel$ | async" class="fixed inset-0 bg-black bg-opacity-50 flex justify-center items-center z-50">
    <div class="bg-white rounded-3xl relative w-3/5 h-4/5 grid grid-cols-10">
        <button class="absolute top-4 right-4 text-gray-600 hover:text-gray-900 text-xl" (click)="panelSequenceService.closeAllPanels()">X</button>
        
        <!--Primeira Coluna-->
        <div class="col-span-6 p-4 border-r border-gray-300 max-h-full text-center overflow-y-auto">
            <div class="flex flex-col items-center justify-center mb-4">
                <img src="../../../assets/icone_robo.png" class="w-8 h-8 mr-2">
                <h3 class="text-base text-center font-semibold text-gray-800 text-font-poppins">Bem-vindo à Dedalus Business Insights!</h3>
            </div>
            <div class="px-4">
                <p class="text-gray-600 mb-2 text-center text-sm">Estou aqui para ajudá-lo a explorar soluções que podem alavancar o seu negócio.</p>
                <p class="text-gray-600 mb-2 text-center text-sm">Meu objetivo é entender suas emoções e necessidades para oferecer soluções personalizadas que ajudem a impulsionar suas ideias.</p>
                <p class="text-gray-600 mb-2 text-center text-sm">Para isso, peço que você permita o acesso à sua câmera. Dessa forma, posso captar suas expressões, ajustando as respostas de acordo com suas emoções.</p>
                <p class="text-gray-600 mb-2 text-center text-sm">Isso tornará nossa conversa mais imersiva e eficaz!</p>
                <p class="text-gray-600 mb-6 text-center text-sm">Vamos começar?</p>
            </div>
            <div class="flex justify-center gap-4 mb-8 text-2xl">
                <span>🤔</span>
                <span>😊</span>
                <span>😄</span>
                <span>🤨</span>
                <span>😟</span>
                <span>😮</span>
            </div>

            <button class="bg-blue-500 hover:bg-blue-600 text-white font-semibold py-2 px-6 rounded-full shadow-md text-font-poppins justify-center" (click)="panelSequenceService.openSecondPanel()">Vamos começar!</button>

        </div>

        <!--Segunda Coluna-->
        <div class="col-span-4 flex items-center max-h-full justify-center overflow-y-auto">
            <img src="../../../assets/robo-chatbot.png" alt="Imagem do robo" class="h-full w-auto rounded-tr-3xl rounded-br-3xl">
        </div>
    </div>

</div>