<div *ngIf="panelSequenceService.showSecondPanel$ | async" class="fixed inset-0 bg-black bg-opacity-50 flex justify-center items-center z-50">
    <div class="bg-white p-8 rounded-3xl relative max-w-md w-11/12 text-center">
      <!-- Botão de fechar -->
      <button class="absolute top-4 right-4 text-gray-600 hover:text-gray-900 text-xl" (click)="panelSequenceService.closeAllPanels()">X</button>
  
      <h2 class="text-2xl font-bold mb-4 text-gray-800">Segundo Painel (Vazio por enquanto)</h2>
      <p class="text-gray-600 mb-6">Este é o segundo painel.</p>
  
      <!-- Botão de fechar -->
      <button class="bg-gray-200 hover:bg-gray-300 text-gray-800 font-semibold py-2 px-6 rounded-full shadow-md" (click)="panelSequenceService.closeAllPanels()">Fechar</button>
    </div>
  </div>