<div class="px-48">
    <app-header></app-header>

    <main class="container mx-auto  mt-6">
        <img src="../assets/hero.png" alt="Hero Image" class="rounded-10xl w-full hero-image">
    </main>

    
</div>


<!-- 3 botões -->
<div class="flex flex-col items-center sm:flex-row sm:justify-center gap-4 sm:gap-10 mt-5 bg-custom-gray border-t border-b border-dotted border-light-yellow py-4">
    <button class="w-full sm:w-auto md:w-80 px-10 py-2 border-none rounded-full rounded-tl-none text-white text-base cursor-pointer transition duration-300 ease-in-out bg-service-blue hover:opacity-90">Nossos serviços </button>
    <button class="w-full sm:w-auto md:w-80 px-10 py-2 border-none rounded-full rounded-tl-none text-white text-base cursor-pointer transition duration-300 ease-in-out bg-light-yellow hover:opacity-90">Entre em contato </button>
    <button class="w-full sm:w-auto md:w-80 px-10 py-2 border-none rounded-full rounded-tl-none text-white text-base cursor-pointer transition duration-300 ease-in-out bg-light-orange hover:opacity-90">Conte-nos seus desafios </button>
</div>


<div class="px-48">



    <!--QUEM SOMOS NÓS-->
    <div id="quem-somos-nos" class="flex flex-col sm:flex-row items-center sm:justify-center gap-2 my-8">
        <div class="w-full sm:w-1/2 flex justify-center">
            <img src="../assets/imagem-quem-somos-nos.png" alt="Quem somos nós?" class="max-w-sm">
        </div>
        <div class="w-full sm:w-1/2 px-4">
            <h2 class="text-lg font-semibold mb-4 text-center text-font-poppins">Quem somos nós?</h2>
            <p class="text-mygraytext font-light text-lg text-left">Somos uma empresa oriunda de Manaus/AM que tem como objetivo proporcionar segurança na tomada
                de decisões em sua empresa. Utilizando algoritmos de <a class="underline" href="https://pt.wikipedia.org/wiki/Aprendizado_de_m%C3%A1quina">Aprendizado de Máquina </a>,
                identificamos padrões e tendências não acessíveis de outra forma. Nossos serviços podem ser aplicados em todas as áreas
            de sua empresa, em uma amplidão de potenciais projetos personalizados que trarão eficiência e economia. </p>
        </div>
    </div>


</div>

<!-- video container-->
<app-videocontainer ></app-videocontainer>



<div class="px-48">
    <!--Nossa operação -->
    <div  id="nossa_operacao" class="mt-18 grid grid-cols-1 md:grid-cols-[65%_35%] gap-8 items-stretch">
        <div class="flex flex-col justify-center">
            <h2 class="text-font-poppins text-center font-semibold mb-4">Nossa operação: Adaptabilidade e excelência</h2>
            <app-step-card [stepNumber]="1" [numberPosition]="'left'" [bgColorClass]="'bg-step-card-blue'" [title]="'Reuniões preliminares e análise do negócio'" [text]="'Onde entendemos seus objetivos, desafios e expectativas, e você entende nosso negócio. Essa troca de informações será crucial para traçarmos um plano personalizado para a implementação de soluções sob medida.'"> </app-step-card>
            <app-step-card [stepNumber]="2" [numberPosition]="'right'" [bgColorClass]="'bg-step-card-yellow'" [title]="'Análise dos dados e engenharia de requisitos'" [text]="'De forma responsável, coletamos, selecionamos e processamos os dados relevantes, sejam eles de vendas, clientes, operações ou qualquer área estratégica para o seu negócio.'"> </app-step-card>
            <app-step-card [stepNumber]="3" [numberPosition]="'left'" [bgColorClass]="'bg-step-card-blue'" [title]="'Desenvolvimento do modelo de previsão'" [text]="'Utilizamos técnicas de Aprendizado de Máquina pra treinar modelos que aprenderão com seus dados, fazendo previsões e utilizando-as para melhorar sua eficiência, identificando padrões complexos.'"> </app-step-card>
            <app-step-card [stepNumber]="4" [numberPosition]="'right'" [bgColorClass]="'bg-step-card-yellow'" [title]="'Geramos Insights'" [text]="'Com base nos modelos treinados, extraímos insights valiosos e previsões precisas sobre o seu negócio, permitindo que você foque na estratégia e tome decisões melhores.'"> </app-step-card>
        </div>
        <div class="flex flex-col  items-center justify-center gap-4">
            <img src="../assets/nossaoperacao1.png" alt="Nossa operação 1" class="max-w-full h-auto object-contain">
            <img src="../assets/nossaoperacao2.png" alt="Nossa operação 2" class="max-w-full h-auto object-contain">
            
        </div>
    </div>

    <router-outlet></router-outlet>


</div>