<div class="px-4 sm:px-6 md:px-10 lg:px-48 xl:px-56 2xl:px-80">
    <app-header></app-header>

    <main class="container mx-auto  mt-6">
        <img src="../assets/hero.png" alt="Hero Image" class="rounded-10xl w-full hero-image">
    </main>

    
</div>


<!-- 3 botões -->
<div class="flex flex-col items-center sm:flex-row sm:justify-center gap-4 sm:gap-10 mt-5 bg-custom-gray border-t border-b border-dotted border-light-yellow py-4">
    <a href="#nossos-servicos" class="text-center w-full sm:w-auto md:w-80 px-10 py-2 border-none rounded-full rounded-tl-none text-white text-base cursor-pointer transition duration-300 ease-in-out bg-service-blue hover:opacity-90">Nossos serviços </a>
    <a class="text-center w-full sm:w-auto md:w-80 px-10 py-2 border-none rounded-full rounded-tl-none text-white text-base cursor-pointer transition duration-300 ease-in-out bg-light-yellow hover:opacity-90">Entre em contato </a>
    <a class="text-center w-full sm:w-auto md:w-80 px-10 py-2 border-none rounded-full rounded-tl-none text-white text-base cursor-pointer transition duration-300 ease-in-out bg-light-orange hover:opacity-90">Conte-nos seus desafios </a>
</div>


<div class="px-4 sm:px-6 md:px-10 lg:px-48 xl:px-56 2xl:px-80">



    <!--QUEM SOMOS NÓS-->
    <div id="quem-somos-nos" class="flex flex-col sm:flex-row items-center sm:justify-center gap-2 my-8">
        <div class="w-full sm:w-1/2 flex justify-center">
            <img src="../assets/imagem-quem-somos-nos.png" alt="Quem somos nós?" class="max-w-sm">
        </div>
        <div class="w-full sm:w-1/2 px-4">
            <h2 class="text-lg font-semibold mb-4 text-center text-font-poppins">Quem somos nós?</h2>
            <p class="text-mygraytext font-light text-lg text-left">Somos uma empresa oriunda de Manaus/AM que tem como objetivo proporcionar segurança na tomada
                de decisões em sua empresa. Utilizando algoritmos de <a class="underline" href="https://pt.wikipedia.org/wiki/Aprendizado_de_m%C3%A1quina">Aprendizado de Máquina </a>,
                identificamos padrões e tendências não acessíveis de outra forma. Nossos serviços podem ser aplicados em todas as áreas
            de sua empresa, em uma amplidão de potenciais projetos personalizados que trarão eficiência e economia. </p>
        </div>
    </div>


</div>

<!-- video container-->
<app-videocontainer ></app-videocontainer>



<div class="px-4 sm:px-6 md:px-10 lg:px-48 xl:px-56 2xl:px-80">
    <!--Nossa operação -->
    <div  id="nossa_operacao" class="mt-16 grid grid-cols-1 md:grid-cols-[65%_35%] gap-8 items-stretch">
        <div class="flex flex-col justify-center">
            <h2 class="text-font-poppins text-center font-semibold mb-4">Nossa operação: Adaptabilidade e excelência</h2>
            <app-step-card [stepNumber]="1" [numberPosition]="'left'" [bgColorClass]="'bg-step-card-blue'" [title]="'Reuniões preliminares e análise do negócio'" [text]="'Onde entendemos seus objetivos, desafios e expectativas, e você entende nosso negócio. Essa troca de informações será crucial para traçarmos um plano personalizado para a implementação de soluções sob medida.'"> </app-step-card>
            <app-step-card [stepNumber]="2" [numberPosition]="'right'" [bgColorClass]="'bg-step-card-yellow'" [title]="'Análise dos dados e engenharia de requisitos'" [text]="'De forma responsável, coletamos, selecionamos e processamos os dados relevantes, sejam eles de vendas, clientes, operações ou qualquer área estratégica para o seu negócio.'"> </app-step-card>
            <app-step-card [stepNumber]="3" [numberPosition]="'left'" [bgColorClass]="'bg-step-card-blue'" [title]="'Desenvolvimento do modelo de previsão'" [text]="'Utilizamos técnicas de Aprendizado de Máquina pra treinar modelos que aprenderão com seus dados, fazendo previsões e utilizando-as para melhorar sua eficiência, identificando padrões complexos.'"> </app-step-card>
            <app-step-card [stepNumber]="4" [numberPosition]="'right'" [bgColorClass]="'bg-step-card-yellow'" [title]="'Geramos Insights'" [text]="'Com base nos modelos treinados, extraímos insights valiosos e previsões precisas sobre o seu negócio, permitindo que você foque na estratégia e tome decisões melhores.'"> </app-step-card>
        </div>
        <div class="flex flex-col  items-center justify-center gap-4">
            <img src="../assets/nossaoperacao1.png" alt="Nossa operação 1" class="max-w-full h-auto object-contain">
            <img src="../assets/nossaoperacao2.png" alt="Nossa operação 2" class="max-w-full h-auto object-contain">
            
        </div>
    </div>

    <router-outlet></router-outlet>


</div>


<div class="flex flex-col items-center sm:flex-row sm:justify-center gap-4 sm:gap-10 mt-5 bg-custom-gray border-t border-b border-dotted border-light-yellow py-4">
    <span>Veja os componentes utilizados pela nossa empresa para criar modelos previsivos personalizados.</span>    
</div>


<div class="px-4 sm:px-6 md:px-10 lg:px-48 xl:px-56 2xl:px-">
 
    <div class="flex justify-between w-full my-8 px-16 text-sm">
        <div class="flex flex-col items-center">
            <p class="text-center mb-2">Análise de negócio</p>
            <img src="../assets/analisededados.png" alt="Análise de Negócio" class="rounded-lg w-36 h-36 object-cover">
        </div>
        <div class="flex flex-col items-center">
            <p class="text-center mb-2">Exploração de dados</p>
            <img src="../assets/exploracaodedados.png" alt="Exploração de dados" class="rounded-lg w-36 h-36 object-cover">
        </div>
        <div class="flex flex-col items-center">
            <p class="text-center mb-2">Pensamento estratégico</p>
            <img src="../assets/pensamentoestrategico.png" alt="Pensamento estratégico" class="rounded-lg w-36 h-36 object-cover">
        </div>
        <div class="flex flex-col items-center">
            <p class="text-center mb-2">Modelos inteligentes</p>
            <img src="../assets/solucoesinteligentes.png" alt="Modelos Inteligentes" class="rounded-lg w-36 h-36 object-cover">
        </div>

    </div>
    
    <div class="mt-14 flex justify-center">
        <img src="../assets/diagramadeatividades.png" alt="Diagrama de atividades" class="max-w-[70%] h-auto">
    </div>
    


    <!-- NOSSOS SERVIÇOS -->

    <div class="mt-10" id="nossos-servicos">
        <h2 class="text-center text-font-poppins text-5xl font-bold text-gray-servicos">Nossos serviços</h2>
    
        
        <div class="mt-4 relative w-full h-64 md:h-96 bg-cover bg-center rounded-4xl overflow-hidden" style="background-image: url('../assets/fundonossosservicos.png')">
            <div class="absolute inset-0 flex flex-col md:flex-row">
                <div class="w-full md:w-1/2 flex items-center justify-center text-white text-center text-xl md:text-2xl font-bold p-4 flex-col px-32">
                    <span class="text-left text-4xl md:text-5xl lg:text-6xl text-[#3E4144] text-font-poppins"> Oferecemos modelos de IA</span>
                    <span class="text-left text-2xl md:text-3xl lg:text-4xl text-white text-font-poppins"> especializados em previsões na área negocial</span>
                </div>
                <div class="hidden md:block w-full md:w-1/2 h-full bg-cover bg-center" style="background-image: url('../assets/imagemnossosservicos.png')">

                </div>
            </div>
        </div>

        <h2 class="mt-2 md:mt-4 lg:mt-8 text-center text-font-poppins text-2xl md:text-3xl lg:text-4xl font-bold text-[#3E4144] relative z-10">Veja alguns exemplos</h2>


        <!-- cartões com exemplos dos serviços -->
        <div class="flex flex-col sm:flex-row gap-2 px-40 relative z-0">

            <div class="flex flex-col gap-2 w-full sm:w-1/2">
                <div class="bg-[#dce9ff] rounded-7xl p-2 sm:p-4 md:p-8 flex flex-col items-center  h-48 sm:h-64 md:h-80 text-[#606876]">
                    <h3 class="text-font-poppins text-center text-xl font-semibold mb-2">Previsões sobre o negócio</h3>
                    <p class="text-left text-sm sm:text-base">Analisamos todos os processos internos do seu negócio de modo a antecipar demandas futuras, otimizar o inventário, dinamizar sua oferta e maximizar seus lucros.</p>
                    <img class="w-[25%] md:w-[35%] lg:w=[65%] h-auto object-contain overflow-hidden" src="../assets/imagem_previsoessobreonegocio.png" alt="Previsões sobre o negócio">
                </div>
                <div class="bg-[#e9ffb9] rounded-7xl p-2 sm:p-4 md:p-8 flex flex-col items-center  h-48 sm:h-64 md:h-80 text-[#606876]">
                    <h3 class="text-font-poppins text-center text-xl font-semibold mb-2">Detecção de fraude</h3>
                    <p class="text-left text-sm sm:text-base">Preveja fraudes antes que elas aconteçam, protegendo seus recursos e sua reputação.</p>
                    <img class="w-[25%] md:w-[35%] lg:w=[65%] h-auto object-contain overflow-hidden" src="../assets/imagem_deteccaodefraudes.png" alt="Detecção de fraudes">
                </div>
                <div class="bg-[#dce9ff] rounded-7xl p-2 sm:p-4 md:p-8 flex flex-col items-center  h-40 sm:h-56 md:h-72 text-[#606876]">
                    <h3 class="text-font-poppins text-center text-xl font-semibold mb-2">Otimização logística</h3>
                    <p class="text-left text-sm sm:text-base">Maximize a lucratividade em todas as áreas do seu negócio.</p>
                    <img class="w-[20%] md:w-[30%] lg:w=[60%] h-auto object-contain overflow-hidden" src="../assets/imagem_otimizacaologistica.png" alt="Otimização logística">
                </div>
            </div>

            <div class="flex flex-col gap-2 w-full sm:w-1/2">
                <div class="bg-[#c8ffe5] rounded-7xl p-2 sm:p-4 md:p-8 flex flex-col items-center h-40 sm:h-56 md:h-72 text-[#606876]">
                    <h3 class="text-font-poppins text-center text-xl font-semibold mb-2">Segmentação de clientes</h3>
                    <p class="text-left text-sm sm:text-base">Descubra padrões comportamentais em seus clientes para personalizar suas estratégias de marketing. Identifique seus clientes mais "valiosos", personalize suas ofertas e fidelize sua base.</p>
                    <img class="w-[20%] md:w-[30%] lg:w=[60%] h-auto object-contain overflow-hidden" src="../assets/imagem_segmentacaodeclientes.png" alt="Segmentação de clientes">
                </div>
                <div class="bg-[#d1f4ff] rounded-7xl p-2 sm:p-4 md:p-8 flex flex-col items-center h-48 sm:h-64 md:h-80 text-[#606876]">
                    <h3 class="text-font-poppins text-center text-xl font-semibold mb-2">Otimização de produção</h3>
                    <p class="text-left text-sm sm:text-base">Identifique gargalos e maximize a eficiência de sua linha de produção.</p>
                    <img class="w-[25%] md:w-[35%] lg:w=[65%] h-auto object-contain overflow-hidden" src="../assets/imagem_otimizacaodeproducao.png" alt="Otimização de produção">
                </div>
                <div class="bg-[#c8ffe5] rounded-7xl p-2 sm:p-4 md:p-8 flex flex-col items-center h-48 sm:h-64 md:h-80 text-[#606876]">
                    <h3 class="text-font-poppins text-center text-xl font-semibold mb-2">Estes são apenas alguns exemplos do que podemos oferecer.</h3>
                    <img class="w-[25%] md:w-[35%] lg:w=[65%] h-auto object-contain overflow-hidden" src="../assets/imagem_apenasalgunsexemplos.png" alt="Exemplos">
                </div>
            </div> 

        </div>

    </div>



</div>
